@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i&subset=latin-ext');

* {
  box-sizing: border-box;
}

.row::before, 
.row::after {
  content: "";
  display: table;
  clear: both;
}

.container-nav {
  width: 1198px;
  max-width: 2000px;
  margin: 0 auto;
} 

.container-main {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

header {
  background-image: url(../images/header_background.png);
  height: 800px;
  background-position: center;
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

header ul > li {
  display: inline-block;
}

.link {
  /* Style for "Home    Ab" */
  width: 372px;
  height: 13px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  text-decoration: none;
}

img {
  position: relative;
  top: 15px;
}

.home {
  /* Text style for "Home" */
  color: #ed145b;
  letter-spacing: 0.4px;
}

.about {
  /* Text style for "About Us" */
  letter-spacing: 0.4px;
}

.container-intro {
  max-width: 951px;
  margin: auto;
}

.intro {
  position: relative;
  top: 279px;
}

.intro h1 {
  text-align: center;
  /* Style for "Mache FREE" */
  color: #ffffff;
  font-family: Lato;
  font-size: 46px;
  font-weight: 300;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 1.15px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.intro p {
  width: 200px;
  margin: 0 auto;
  height: 2px;
  background-color: #ed145b;
}

.intro h3 {
  text-align: center;
  /* Style for "Elegant an" */
  color: #ffffff;
  font-family: Lato;
  font-size: 22px;
  font-weight: 300;
  line-height: 38px;
  /* Text style for "Elegant an" */
  letter-spacing: 0.55px;
  margin-top: 30px;
}

.show-more {
  margin-left: 40%;
  margin-right: 40%;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #ed145b;
  /* Style for "SHOW MORE" */
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  /* Text style for "S, HOW MOR" */
  letter-spacing: 0.38px;
  position: relative;
  top: 50px;
  cursor: pointer;
}

.rectangle {
  background-image: url(../images/pink-new.png);
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 40px;
  background-color: #f4f4f4;
}

.video {
  background-color: #f4f4f4;
  height: 450px;
  margin: 0 auto;
}

.powerful {
  /* Style for "Powerfull" */
  width: 376px;
  height: 85px;
  color: #5a5a5a;
  font-family: lato;
  font-style: italic;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  /* Text style for "P, owerful" */
  letter-spacing: 0.95px;
}

.line {
  /* Style for "Prostokąt" */
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin-top: 95px;
  margin-bottom: 30px;
}

.lorem {
    /* Style for "Lorem ipsu" */
  width: 466px;
  height: 175px;
  color: #5a5a5a;
  font-family: Lato;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  /* Text style for "Lorem ipsu" */
  letter-spacing: 0.38px;
  overflow: hidden;
}

.see {
  /* Style for "See the Vi" */
  height: 12px;
  color: #ed145b;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}

.macbook {
  background-image: url(../images/Macbook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1022px;
  height: 500px;
  border-radius: 5% 5% 0 0;
}

.macbook-foreground {
  background-color: #fff;
  width: 75%;
  margin: auto;
  position: relative;
  top: 55px;
  height: 75%;
}

.lightgray {
  background-color: #f4f4f4; 
  height: 25px;
  width: 100%;
}

.features h6 {
  color: #f36091;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  font-size: 12px;
}

.features p {
  width: 178px;
  height: 66px;
  overflow: hidden;
  margin-top: 15px;
  font-size: 10px;
  width: 95%;
}

.features img {
  margin-top: 60px;
  width: 80%;
  margin-top: 15px;
}

.join {
  background-color: #ed145b;
  width: 100%;
  height: 70px;
  margin-top: 20px;
  line-height: 35px;
}

.join p {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.join span {
  font-weight: bold;
}

.join button {
  text-transform: uppercase;
  background-color: #fff;
  color: #ed145b;
  border-radius: 25px;
  font-size: 8px;
  width: 100px;
  height: 25px;
  margin-top: 20px;
}

.services h2 {
  height: 29px;
  color: #5a5a5a;
  font-family: Lato;
  font-style: italic;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  /* Text style for "O, ur Serv" */
  letter-spacing: 0.95px;
  text-align: center;
}

.services .line {
  margin: auto;
  margin-top: 40px;
}

.services .text {
  /* Style for "Lorem ipsu" */
  width: 681px;
  height: 44px;
  color: #5a5a5a;
  font-family: Lato;
  font-size: 15px;
  font-weight: 300;
  /* Text style for "L, orem ip" */
  letter-spacing: 0.38px;
  overflow: hidden;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.circle {
  color: #c8c8c8;
  border: 2px solid;
  width: 131px;
  height: 131px;
  margin: auto;
  border-radius: 50%;
  margin-top: 75px;
}

.circle img {
  margin: auto;
  position: relative;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 45px;
}

.icon-descriptions {
  /* Style for "FREE DOWNL" */
  width: 200px;
  height: 12px;
  color: #ed145b;
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  /* Text style for "F, REE DOW" */
  letter-spacing: 0.38px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.slideshow {
  height: 501px;
  width: 100%;
  margin-top: 300px;
  background-image: url(../images/header_background.png);
  background-position: center;
  background-repeat: no-repeat;
}

#left, #right {
  cursor: pointer;
}

#left {
  left: 378px;
  top: 234px;
}

#right {
  right: 318px;
  top: 234px;
}

.slide {
  width: 40%;
  height: 142px;
  margin-left: 30%;
  margin-right: 30%;
  overflow: hidden;
  color: #fff;
  font-weight: 200;
  font-size: 25px;
  position: relative;
  top: 70px;
  letter-spacing: 0.63px;
  font-family: lato;
  font-style: italic;
}

.quotation {
  width: 62px;
  height: 50px;
  color: #ed145b;
  font-family: "Droid Serif";
  font-size: 158px;
  font-weight: 700;
  letter-spacing: 3.95px;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 75px;
  margin-bottom: 60px;
}



/*Desktop grid*/

.col-1 { 
  width: 8.33%; 
}

.col-2 { 
  width: 16.66%; 
}

.col-3 { 
  width: 25%; 
}

.col-4 { 
  width: 33.33%; 
}

.col-5 { 
  width: 41.66%; 
}

.col-6 { 
  width: 50%; 
}

.col-7 { 
  width: 58.33%;
}

.col-8 { 
  width: 66.66%;
}

.col-9 { 
  width: 75%;
}

.col-10 { 
  width: 83.33%;
}

.col-11 { 
  width: 91.66%;
}

.col-12 { 
  width: 100%; 
}

.col-offset-1 { 
	margin-left: 8.33%; 
}

.col-offset-2 { 
	margin-left: 16.66%;
}

.col-offset-3 { 
	margin-left: 25%; 
}

.col-offset-4 {	
	margin-left: 33.33%; 
}

.col-offset-5 {	
	margin-left: 41.66%; 
}

.col-offset-6 {	
	margin-left: 50%; 
}

.col-offset-7 {	
	margin-left: 58.33%; 
}

.col-offset-8 {	
	margin-left: 66.66%; 
}

.col-offset-9 {	
	margin-left: 75%; 
}

.col-offset-10 { 
	margin-left: 83.33%; 
}

.col-offset-11 { 
	margin-left: 91.66%; 
}

[class*='col-'] {
	min-height: 1px;
	max-height: 550px;
	float: left;
}





