@import url('https://fonts.googleapis.com/css?family=Lato:300,400&subset=latin-ext');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

.row::before, 
.row::after {
  content: "";
  display: table;
  clear: both;
}

.container-nav {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
} 

.container-main {
  width: 100%;
  width: 2000px;
  margin: 0 auto;
}

header {
  background-image: url(../images/header_background.png);
  height: 800px;
  background-position: center;
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

header ul > li {
  display: inline-block;
}

.link {
  /* Style for "Home    Ab" */
  width: 372px;
  height: 13px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  text-decoration: none;
}

img {
  position: relative;
  top: 15px;
}

.home {
  /* Text style for "Home" */
  color: #ed145b;
  letter-spacing: 0.4px;
}

.about {
  /* Text style for "About Us" */
  letter-spacing: 0.4px;
}

.intro {
  position: relative;
  top: 279px;
}

.container-intro {
  max-width: 951px;
  margin: auto;
}

.intro h1 {
  text-align: center;
  /* Style for "Mache FREE" */
  color: #ffffff;
  font-family: Lato;
  font-size: 46px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  /* Text style for "M, ache" */
  font-family: "Lato - Black";
  font-weight: 400;
  letter-spacing: 1.15px;
  /* Text style for "FREE psd T" */
  font-family: "Lato Light";
  font-weight: 300;
  letter-spacing: 1.15px;
}

.intro p {
  width: 200px;
  margin: 0 auto;
  height: 2px;
  background-color: #ed145b;
}

.intro h3 {
  text-align: center;
  /* Style for "Elegant an" */
  color: #ffffff;
  font-family: Lato;
  font-size: 22px;
  font-weight: 300;
  line-height: 38px;
  /* Text style for "Elegant an" */
  letter-spacing: 0.55px;
}

.show-more {
  margin-left: 40%;
  margin-right: 40%;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #ed145b;
  /* Style for "SHOW MORE" */
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  /* Text style for "S, HOW MOR" */
  letter-spacing: 0.38px;
  position: relative;
  top: 50px;
}




/*Desktop grid*/

.col-1 { 
  width: 8.33%; 
}

.col-2 { 
  width: 16.66%; 
}

.col-3 { 
  width: 25%; 
}

.col-4 { 
  width: 33.33%; 
}

.col-5 { 
  width: 41.66%; 
}

.col-6 { 
  width: 50%; 
}

.col-7 { 
  width: 58.33%;
}

.col-8 { 
  width: 66.66%;
}

.col-9 { 
  width: 75%;
}

.col-10 { 
  width: 83.33%;
}

.col-11 { 
  width: 91.66%;
}

.col-12 { 
  width: 100%; 
}




